<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blocks</title>
  <link rel="stylesheet" href="/water.css" />
  <link rel="stylesheet" href="/custom.css" />
</head>

<body>
  {{ if .EnablePosting }}
  <header>
    <nav>
      <h1><a href="/">Blocks</a></h1>
      {{ with .User }}<span>@{{ .Username }}</span>{{ else }}<span>@anonymous</span>{{ end }}
    </nav>

    <form method="POST" action="/posts">
      <textarea name="content" placeholder="What's on your mind..." rows="3" minlength="8" required></textarea>
      <button type="submit">Post</button>
    </form>
  </header>
  {{ else }}
  <header>
    <nav>
      <h1><a href="/">Blocks</a></h1>
    </nav>
  </header>
  {{ end }}

  <main>
    {{ range .Posts }}
    <article>
      {{ if gt (len $.Posts) 1 }}<hr />{{ end }}
      {{ .Content.Html }}
      <p class="post-footer">
        <small>- {{ with .Author }}{{ . }}{{ else }}anonymous{{ end }} on {{ .CreatedAt.Format "02 Jan, 06 at 15:04" }}</small>
        <small>
          <a class="btn" href="/posts/{{ .Id }}">[link]</a>
        </small>
      </p>
    </article>
    {{ end }}
  </main>
</body>

</html>