<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Blocks</title>
    <link rel="stylesheet" href="/water.css"/>
    <link rel="stylesheet" href="/custom.css"/>
</head>
<body>
<header>
    <nav>
        <h1><a href="/">Blocks</a></h1>
        {{ with .User }}<span>@{{ .Username }}</span>{{ else }}<span>anonymous</span>{{ end }}
    </nav>

    {{ if .EnablePosting }}
    <form class="form-post" method="POST" action="/posts">
        <textarea name="content" placeholder="What's on your mind..." rows="3" minlength="8" required></textarea>
        <div class="form-footer">
            <button type="submit">Post</button>
            <label><input name="post_anon" type="checkbox"/> Anonymous</label>
        </div>
    </form>
    {{ end }}
</header>

<main>
    {{ with .Post }}
    <div class="post">
        {{ template "partials/post-content.html" . }}

        <div class="post-footer">
            {{ template "partials/post-footer-info.html" . }}
            <div class="post-footer-actions">
                {{ if or ($.User.IsAdmin) (eq $.User.Username .Author) -}}
                <a class="btn" href="/posts/{{ .Id }}/delete" data-delete-btn>[delete]</a>
                {{- end }}
            </div>
        </div>
    </div>

    {{ with $.Children }}
    <h3>Replies</h3>
    <div class="post-replies">
        {{ range . }}
        <div class="post" id="reply-{{ .Id }}">
            {{ template "partials/post-content.html" . }}
            {{ template "partials/post-footer.html" . }}
        </div>
        {{ end }}
    </div>
    {{ end }}

    <form class="form-reply" method="POST" action="/posts/{{ .Id }}/replies">
        <textarea name="content" placeholder="Add your reply..." rows="3" minlength="8" required></textarea>
        <div class="form-footer">
            <button type="submit">Respond</button>
            <label><input name="post_anon" type="checkbox"/> Anonymous</label>
        </div>
    </form>

    {{ else }}
    {{ range .Posts }}
    <div class="post">
        {{ template "partials/post-content.html" . }}
        {{ template "partials/post-footer.html" . }}
    </div>
    {{ end }}
    {{ end }}
</main>

<script>
    document.querySelectorAll('a[data-delete-btn]').forEach(function (el) {
        el.addEventListener('click', function (ev) {
            ev.preventDefault();

            if (!confirm('Are you sure?')) return;

            const form = document.body.appendChild(document.createElement('form'));

            form.action = el.href;
            form.method = 'post';
            form.submit();
        });
    });
</script>
</body>
</html>