body {
    max-width: 540px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

nav h1 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: var(--text-main);
}

a.btn {
    color: var(--text-main);
    font-family: monospace;
    opacity: .8;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}